<!--   This template renders a Restaurant Menu page with menu info (name, price, description) -->

<html><body>

    <h2>{{restaurant_name}} Menu List</h2>

    {% if items %}
    {% for i in items %}
    
    <a href="{{url_for('newMenu', restaurant_id = restaurant_id)}}">Add New Menu</a>
    <a href="{{url_for('showRestaurants')}}">Back to Restaurant List</a>

    <div>
    
        <!-- 
            I made item name, price, description within one <p> tag, with each field separated by </br>
        -->
        <p>{{i.name}}<br>{{i.price}}<br>{{i.description}}<br>{{i.course}}</p>

        <!-- Add link for Edit menu item -->
        <a href='{{url_for('editMenu', restaurant_id = restaurant_id, menu_id=i.id)}}'>Edit</a></br>
        <!-- Add link for Delete menu item -->
        <a href = '{{url_for('deleteMenu', restaurant_id=restaurant_id, menu_id = i.id)}}'>Delete</a>
    
    </div>

    {% endfor %}
    {% else %}
        <p>You currently have no menu items.</p>
        <a href="{{url_for('newMenu', restaurant_id = restaurant_id)}}">Add New Menu</a>
        <a href="{{url_for('showRestaurants')}}">Back to Restaurant List</a>
    
    {% endif %}

</body></html>
