<!--   This template renders the list of restaurants) -->

<html><body>
    <h2>Restaurant List</h2>

    {% if restaurants %}
        {% for i in restaurants %}

            <a href='{{url_for('newRestaurant')}}'>Create New Restaurant</a>

            <div>
                <p>{{i.name}}<br></p>

                <!-- Add link for Restaurant Menu List -->
                <a href = '{{url_for('showMenus', restaurant_id = i.id)}}'>Menus</a></br>
                <!-- Add link for Edit menu item -->
                <a href='{{url_for('editRestaurant', restaurant_id = i.id) }}'>Edit</a></br>
                <!-- Add link for Delete menu item -->
                <a href='{{url_for('deleteRestaurant', restaurant_id = i.id) }}'>Delete</a></br>

            </div>

        {% endfor %}
    {% else %}
        <!--  do the following if restaurant list is empty -->

        <p>Restaurant list is empty</p>
        <a href='{{url_for('newRestaurant')}}'>Create New Restaurant</a>
    {% endif %}

</body></html>
